@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
body {
  margin: 0px;
  font-family: 'Kumbh Sans', sans-serif; }

header {
  background-color: white;
  height: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px 15px;
  box-shadow: 0px 0px 25px 0px #39364f;
  margin-bottom: 20px; }
  header h1 {
    margin: 0px;
    font-size: 24px;
    align-self: center;
    font-weight: 700; }
  header #logo-evenbrite {
    height: 40px;
    width: 150px; }
  header .logo-equilibrio {
    width: 150px; }

main {
  margin-bottom: 120px; }
  main section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    main section .pregunta {
      font-size: 24px;
      font-weight: 300; }
    main section div {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center; }
      main section div .tipo-evento {
        padding: 0px;
        margin: 15px;
        border-radius: 25px;
        border: none;
        background-color: #d0ccf0; }
        main section div .tipo-evento img {
          width: 300px;
          margin: 20px;
          border-radius: 20px; }
        main section div .tipo-evento h5 {
          font-size: 21px;
          margin: 0px 0px 20px 0px; }
        main section div .tipo-evento:focus {
          outline: none; }
      main section div .tipo-activo {
        animation-name: animacion-tipo-evento-activo;
        animation-duration: 0.3s;
        animation-fill-mode: both; }
        main section div .tipo-activo:hover {
          animation-name: animacion-tipo-evento;
          animation-duration: 0.3s;
          animation-fill-mode: both; }
      main section div .tipo-inactivo {
        animation-name: animacion-tipo-evento-inactivo;
        animation-duration: 0.3s;
        animation-fill-mode: both; }
      main section div .tipo-elegido {
        transform: scale(1.1);
        background-color: #b2aed1; }
      main section div .lugar-evento {
        padding: 0px;
        margin: 15px;
        border-radius: 25px;
        border: none;
        background-color: #d0ccf0; }
        main section div .lugar-evento img {
          width: 200px;
          margin: 5px;
          border-radius: 20px 20px 5px 5px; }
        main section div .lugar-evento h5 {
          font-size: 21px;
          font-weight: 300;
          margin: 0px 0px 10px 0px; }
        main section div .lugar-evento:focus {
          outline: none; }
      main section div .input-ingreso {
        width: 200px;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 700;
        font-size: 20px;
        padding: 15px;
        border: 10px solid #f05537;
        border-radius: 30px; }
        main section div .input-ingreso:focus {
          outline: none; }
      main section div .pack {
        height: 350px;
        width: 250px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 20px;
        border: 10px solid #f05537;
        border-radius: 30px; }
        main section div .pack h3 {
          margin: 0px;
          padding-top: 15px;
          font-size: 20px; }
        main section div .pack ul {
          list-style: none;
          padding: 0px;
          width: 210px; }
          main section div .pack ul li {
            margin: 12px; }
          main section div .pack ul .lista-premium {
            color: #f05537; }
        main section div .pack:focus {
          outline: none; }
        main section div .pack:hover {
          background-color: #b2aed1; }
    main section .elegir-pack {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: flex-start; }
    main section .columna-mensaje {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; }

footer {
  background-color: #39364f;
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: white; }
  footer #precio-evento {
    font-size: 30px;
    margin: 0px; }
  footer #precio {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px; }
  footer .cuotas {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px; }

@keyframes animacion-tipo-evento {
  from {
    background-color: #d0ccf0;
    transform: scale(1); }
  to {
    background-color: #b2aed1;
    transform: scale(1.1); } }

@keyframes animacion-tipo-evento-activo {
  from {
    filter: grayscale(100%); }
  to {
    filter: grayscale(0%); } }

@keyframes animacion-tipo-evento-inactivo {
  from {
    filter: grayscale(0%); }
  to {
    filter: grayscale(100%); } }

input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #FFFFFF;
  border-radius: 10px;
  border: 0px solid #000000; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #F05537;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #FFFFFF;
  border-radius: 10px;
  border: 0px solid #000000; }

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #F05537;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #FFFFFF;
  border: 0px solid #000000;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000; }

input[type=range]::-ms-fill-upper {
  background: #FFFFFF;
  border: 0px solid #000000;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000; }

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #F05537;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #FFFFFF; }

input[type=range]:focus::-ms-fill-upper {
  background: #FFFFFF; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5); }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: none;
  width: 40%;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 15px; }

.btn-modal {
  border-radius: 25px;
  border: none;
  padding: 15px;
  margin: 15px; }
  .btn-modal:focus {
    outline: none; }
  .btn-modal:hover {
    animation-name: animacion-btns;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    cursor: pointer; }

#btnContinuar, #btnEnviarConf {
  color: #F8AEA1;
  background-color: #39364f; }

#btnEmpezar, #btnCancelar {
  color: #39364f;
  background-color: #F8AEA1; }

@keyframes animacion-btns {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }

#email-destino {
  padding: 15px;
  border-radius: 25px;
  border: none;
  background-color: #d0ccf0; }
  #email-destino:focus {
    outline: none; }
